%hr.mb-4
.row
  .col.button
    %button.btn.btn-primary{:type => "button"}
      = message['ui']['level']
      %span.badge.badge-light= message['form']['level'][game.configuration.level.to_s]
  .col.text-center.button
    %button.btn.btn-primary{:type => "button"}
      = message['ui']['attempts']
      %span.badge.badge-light= game.attempts
  .col.button
    %button.btn.btn-primary.float-right{:type => "button"}
      = message['ui']['hints']
      %span.badge.badge-light= game.hints
